/* Globalni stilovi */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #1e3b57, #2c698d);
  color: #212529;
}

/* Intro sekcija */
.intro-section {
  background: #ffffff;
  padding: 4rem 2rem;
  margin-bottom: 0;
}

.intro-section img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Dugmad */
.buttons-container .btn-primary,
.buttons-container .btn-secondary {
  padding: 12px 30px;
  margin: 0 10px;
  font-size: 1.2rem;
  border-radius: 30px;
}

/* Sekcija sa ikonama */
.features-section {
  padding: 3rem 1rem;
  background: #f8f9fa;
}

.features-section h3 {
  color: #007bff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.features-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0 auto;
  max-width: 900px;
}

.card .icon {
  font-size: 4rem;
  color: #007bff;
  margin-bottom: 1rem;
}

/* Sekcija sa iskustvima korisnika */
.testimonials-section {
  padding: 3rem 1rem;
  background: #ffffff;
}

.testimonials-section h3 {
  color: #007bff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.testimonial {
  padding: 2rem;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-style: italic;
}

/* Footer */
.footer {
  background: #343a40;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  margin: 1rem;
}

.footer-center input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.footer-center button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.footer-right .social-icons a {
  margin: 0 0.5rem;
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.footer-right .social-icons a:hover {
  color: #007bff;
}
